<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teste basico de Programação</title>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #log{
            float: left;
            margin-right: 125px;

        }
       #Titulo{
        font-size: 50px;
       }
       body{
           padding: 15px;
           background: rgb(185, 217, 238);
       }
       #consult{
           background: blue;
           color:white;
       }
       #cacau{
           background: white;
       }
      
        
    </style>
</head>
<body>
    
    <div id="abas" class="container">
        <img id="log" src="logo.jpg" width="120" height="60">
        <h1 id="Titulo">Teste para Programador</h1>
        <hr/>
        <br>
        <div class="form-todo form-group">
            <nav>
                <button id="#consult" class="btn btn-primary" @click.prevent="aba='consult';fazerRequisicao()">Consultar</button>
                <button id="#limp" class="btn btn-primary" @click.prevent="aba='limp'">Limpar</button>
            </nav>
        </div>
    
        <div id="consult" class="list-group-item" v-if="aba=='consult'">
            <h3>Dado</h3>
            <table>

                <thead>

                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Idade</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div id="resposta">
                
            </div>

        </div>
        <tbody id="tbody">

        </tbody>
        <div id="limp" v-if="aba=='limp'"></div>
    </div>
    </div>

    

    <script>
    new Vue({ 
        el:'#abas',
        data:{
            aba:'consult',
        }
        
    })
    </script>
        <script>
            function fazerRequisicao(){
                
                //var url = document.getElementById('url').value;
                var urlGet = 'http://localhost:21262/'
                var xhttp = new XMLHttpRequest();
                xhttp.open("GET", urlGet, false);
                
                
                xhttp.send();//A execução do script pára aqui até a requisição retornar do servidor
    
                document.getElementById("resposta").innerHTML = xhttp.responseText;
            }
        </script>

<h6 class="footer fixed-bottom" id="rodape">Pagina e estruturação produzida por: Alisson Almeida</h6>
</body>
</html>
