
.mensagemCronometro h1{
  font-size: 30px;
}
.mensagemCronometro {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: rgb(255, 255, 255);
    width: 400px;
    height: 200px;
    margin-top: 15px;
    
}
.msgECronometro #cronometro {
    
    justify-content:flex-start;
    font-size: 52px;
}
.mensagemCronometro h1{
    justify-content:flex-start;
    font-size: 38px;
}
.mensagemCronometro p{
    justify-content:flex-start;
    font-size: 22px;
}
 #cronometro{
    width: 400px;
    color: rgb(255, 255, 255);
    display: inline-block;
}
#cronometro > div{
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    
}
#cronometro div > span{
    border-radius: 3px;
    display: inline-block;
}
.smalltext{
    padding-top: 5px;
    font-size: 18px;
}
.msgECronometro{
    width:400px;
    margin-left: 20px;
    margin-top: 5px;
    padding: 5px;
    align-items: center;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 1070px)  {

      .mensagemCronometro {
          display: inline-block;
          font-size: 18px;
          width: 300px;
      }
       #cronometro{
          margin-top: 10px;
          font-family: sans-serif;
          color: #fff;
          display: inline-block;
          font-size: 30px;
      }
      #cronometro > div{
        text-align: center;
          padding: 8px;
          display: inline-block;
          width: auto;
      }
      .msgECronometro{
          width: 97%;
          margin-left: 5px;
          margin-right: 5px;
          margin-top: 15px;
      }

}