
.mensagemCronometro h1{
  font-size: 30px;
  padding-right:100px;
}
.mensagemCronometro {
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
 #cronometro{
    margin-top: 10px;
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-size: 30px;
}
#cronometro > div{
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    background: rgba(0, 192, 150,0.8);
    display: inline-block;
}
#cronometro div > span{
    padding: 15px;
    border-radius: 3px;
    background: rgb(250, 50, 50);
    display: inline-block;
}
.smalltext{
    padding-top: 5px;
    font-size: 18px;
}
.msgECronometro{
    width: 41%;
    margin-left: 15px;
    margin-top: 15px;
    background: rgba(255, 0, 0,0.7);
    padding: 5px;
    display: flex;
    float: right;
}

@media screen and (max-width: 1070px)  {

      .mensagemCronometro {
          display: inline-block;
          font-size: 18px;
          width: 300px;
      }
       #cronometro{
          margin-top: 10px;
          font-family: sans-serif;
          color: #fff;
          display: inline-block;
          font-size: 30px;
      }
      #cronometro > div{
        text-align: center;
          padding: 8px;
          display: inline-block;
          width: auto;
      }
      .msgECronometro{
          width: 97%;
          margin-left: 5px;
          margin-right: 5px;
          margin-top: 15px;
      }

}