body{
    background-image: url('../img/deitadosNaGrama.jfif'); */
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top;
    background-attachment: fixed;
}
.mapa iframe{
    width: 400px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 10px;
}


@media screen and (max-width: 1070px)  {
.mapa iframe{
    margin-left: 10px;
    width: 98%;

}

}