body{
    background-image: url('../img/deitadosNaGrama.jfif'); 
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top;
    background-attachment: fixed;
    
}
.mapa iframe{
    width: 99%;
    height: 92%;
    position: absolute;
    bottom: 0;
    right:0px;
    
}
.mapa div{
    width: 35%;
    height: 35%;
    position: absolute;
    bottom: 0;
    right:0px;
    background: rgba(255, 255, 255, 0.6)
}
.mapa div h2{
    position: absolute;
    left: 15px;
}
.nomenoivos > nav{
    display: flex;
    justify-content:flex-start;
}
.nomenoivos h1{
    font-family: 'Satisfy', cursive;
    font-family: 'The Nautigal', cursive;
    font-size: 182px;
    margin-top: 1%;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px #000;
}

@media screen and (max-width: 1070px)  {
.mapa iframe{
    margin-left: 10px;
    width: 80%;
   

}
.nomenoivos h1{
    width: 100%;
    font-size: 140px;
}

}