body{
    margin: 0;
}
.navbar li{
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0.6rem;
    border-left: 2px solid rgb(255, 255, 255);
    
}
.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-shadow: 2px 2px black;
}
.navbar{
    width: 100%;
    height:3rem;
    
}
.navbar ul{
    position: absolute;
    top: -1px;
    right: 0px;
}
.submenu li{
    display: none;
}
.submenu ul:hover{
    display: list-item;
    background-color: black;
}

@media screen and (max-width: 1070px)  {
    .navbar li{
        
        display:list-item;
        padding: 0.6rem 0 ;
        border-left: none;
        text-shadow: -1px 1px black;
        text-align: left;
        text-decoration: none;
    }
    .navbar{
        width: 100%;
        height: 210px;
    }
    .navbar ul{
        top: none;
        right: 30%;
        
    }
}




