*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
 } /*Configuração padrão*/

 body{
    background-image: url("../Imgs/fundoMacarrao.jpg");
    background-repeat: no-repeat;    
    background-size: 100vw 100vh;
    background-position: top;
    background-attachment: fixed;
}
.CadastroFC{
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
}

.comentarios{
    display: flex;
    float: inline-start;
    margin: 100px 0 0 0;
    color: rgb(255, 255, 255);
}

.CadastroFC   {
    height: 1800px;
    width: 580px;
    float: left;
    margin: 0 0 0 180px;
}

div p{
    border: 1px solid rgb(86, 170, 156) ;
    margin: 20px 182px 7px 0;
    height: 95px;
    display: flex;
    background-color: rgba(175, 206, 172, 0.911);

} /*Parágrafo*/

label{
    width: 349px;
    margin: 15px;
    color: white;
    font-family: 'Kanit', sans-serif;
} /*Títulos*/

div input{
    width: 100%;
    height: 100%;
    border: none;
    margin: 0 0 0 -380px;
    background-color: transparent;
    display: flex;
    padding: 25px;
} /*Onde o usuário irá inserir o texto*/

select{
    width: 100%;
    margin: 0 50px 0 -332px;
    background-color: transparent;
    border: none;
    color: rgb(99, 99, 99);
} /*Onde o usuário irá escolher uma das opções*/

button{
    width: 100%;
    background-color: transparent;
    border: none;
    font-family: 'Kanit', sans-serif;
} /*Botão 'Cadastrar'*/

.barramenu{
    background-color: rgba(175, 206, 172, 0.911);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.item{
    padding: 25px;
}
a, li{
    text-decoration: none;
    list-style: none;
}

.nav-links  button{
    font-size: 20px;
    color: white;
    background: none;
    border: none;
}

.subcategoria2 button {
    background-color: white;
}
.nav-links{
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 20px;
    margin-right: 20px;
}
.nav-links li{
    list-style-type: none;
}
.nav-links a li{
    text-decoration: none;
    color: white;
}
.logo > img{
    margin-top: 3%;
    width: 35%;
    height: 10%;
}

.Btnentrar{
    cursor: pointer;
    color: white;
}
.Btnentrar:hover{
    background-color: rgba(162, 192, 159, 0.911);

}
